@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>

<h3>Stylists</h3>
<h4>@Html.ActionLink("See all stylists", "Index", "Stylists")</h4>
<h4>@Html.ActionLink("Add a stylist", "Create", "Stylists")</h4>

<h3>CLients</h3>
<h4>@Html.ActionLink("See all clients", "Index", "Clients")</h4>
<h4>@Html.ActionLink("Add a client", "Create", "Clients")</h4>